<article class="flex flex-col gap-6 w-full md:max-w-[300px] h-fit">
  <div class="relative flex justify-center">
    <img
      class="w-full h-[250px] rounded-lg object-cover"
      [src]="cardData.img"
      alt=""
    />
    <div class="absolute -bottom-5">
      <app-order-btn [dishDetails]="cardData" />
    </div>
  </div>
  <div class="flex flex-col">
    <h2 class="text-gray-400">{{ cardData.title }}</h2>
    <h3 class="text-lg">{{ cardData.description }}</h3>
    <p class="text-lg text-primary">$ {{ cardData.price }}</p>
  </div>
</article>
